<div class="twoTables">
  <div class="tableOne">
    <div id="fishs">
      <h2>Poissons</h2>
      <table mat-table class="mat-elevation-z8">
        <thead>
          <th mat-header-cell>Produit</th>
          <th mat-header-cell>Prix</th>
          <th mat-header-cell>Prix (en promo)</th>
          <th mat-header-cell>En stock</th>
          <th mat-header-cell>Vendus</th>
          <th mat-header-cell>Commentaires</th>
          <th mat-header-cell>Quantité</th>
          <th mat-header-cell>Promotion</th>
          <th mat-header-cell>Détails</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of fishs">
            <td mat-cell>
              {{ product.name }}
            </td>
            <td mat-cell [hidden]="product.sale">{{ product.price }}&nbsp;€</td>
            <td mat-cell [hidden]="!product.sale"></td>
            <td mat-cell [hidden]="!product.sale">
              {{ product.price }}&nbsp;€&nbsp;(-{{ product.discount }})&nbsp;%
            </td>
            <td mat-cell [hidden]="product.sale"></td>
            <td mat-cell>{{ product.quantity }}&nbsp;{{ product.unit }}</td>
            <td mat-cell [hidden]>{{ product.quantity_sold }}</td>
            <td mat-cell>{{ product.comments }}</td>
            <!--QUANTITE-->
            <td mat-cell>
              {{ product.quantity }}
            </td>
            <!--PROMOTION-->
            <td mat-cell>
              {{ product.discount }}&nbsp;%
            </td>
            <!--DETAILS-->
            <td mat-cell>
                <button mat-button color="primary" 
                  (click)="openDialog(product)">Détails</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="seafood">
      <h2>Fruits de Mer</h2>
      <table mat-table class="mat-elevation-z8">
        <thead>
          <tr>
            <th mat-header-cell>Produit</th>
            <th mat-header-cell>Prix</th>
            <th mat-header-cell>Prix (en promo)</th>
            <th mat-header-cell>En stock</th>
            <th mat-header-cell>Vendus</th>
            <th mat-header-cell>Commentaires</th>
            <th mat-header-cell>Quantité</th>
            <th mat-header-cell>Promotion</th>
            <th mat-header-cell>Détails</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of seafood">
            <td mat-cell>{{ product.name }}</td>
            <td mat-cell [hidden]="product.sale">{{ product.price }}&nbsp;€</td>
            <td mat-cell [hidden]="!product.sale"></td>
            <td mat-cell [hidden]="!product.sale">
              {{ product.price }}&nbsp;€&nbsp;(-{{ product.discount }})&nbsp;%
            </td>
            <td mat-cell [hidden]="product.sale"></td>
            <td mat-cell>{{ product.quantity }}&nbsp;{{ product.unit }}</td>
            <td mat-cell [hidden]>{{ product.quantity_sold }}</td>
            <td mat-cell>{{ product.comments }}</td>
            <!--QUANTITE-->
            <td mat-cell>
              {{ product.quantity }}
            </td>
            <!--PROMOTION-->
            <td mat-cell>
              {{ product.discount }}&nbsp;%
            </td>
            <!--DETAILS-->
            <td mat-cell>
                <button mat-button color="primary" 
                  (click)="openDialog(product)">Détails</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="crustaceans">
      <h2>Crustacés</h2>
      <table mat-table class="mat-elevation-z8">
        <thead>
          <tr>
            <th mat-header-cell>Produit</th>
            <th mat-header-cell>Prix</th>
            <th mat-header-cell>Prix (promo)</th>
            <th mat-header-cell>En stock</th>
            <th mat-header-cell>Vendus</th>
            <th mat-header-cell>Commentaires</th>
            <th mat-header-cell>Quantité</th>
            <th mat-header-cell>Promotion</th>
            <th mat-header-cell>Détails</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of crustaceans">
            <td mat-cell>{{ product.name }}</td>
            <td mat-cell [hidden]="product.sale">{{ product.price }}&nbsp;€</td>
            <td mat-cell [hidden]="!product.sale"></td>
            <td mat-cell [hidden]="!product.sale">
              {{ product.price }}&nbsp;€&nbsp;(-{{ product.discount }})&nbsp;%
            </td>
            <td mat-cell [hidden]="product.sale"></td>
            <td mat-cell>{{ product.quantity }}&nbsp;{{ product.unit }}</td>
            <td mat-cell [hidden]>{{ product.quantity_sold }}</td>
            <td mat-cell>{{ product.comments }}</td>
            <!--QUANTITE-->
            <td mat-cell>
              {{ product.quantity }}
            </td>
            <!--PROMOTION-->
            <td mat-cell>
              {{ product.discount }}&nbsp;%
            </td>
            <!--DETAILS-->
            <td mat-cell>
                <button mat-button color="primary" 
                  (click)="openDialog(product)">Détails</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<div id="modifsList" *ngIf="listModifs?.length>0">
  Modifications effectuées :
  <table mat-table class="mat-elevation-z8">
    <tr>
      <td mat-cell>Produit</td>
      <td mat-cell>Action</td>
      <td mat-cell>Valeurs</td>
    </tr>
    <tr *ngFor="let modif of listModifs">
      <td mat-cell>{{modif.name}}</td>
      <td mat-cell>{{modif.directive}}</td>
      <td mat-cell>{{modif.value1}}</td>
      <td mat-cell>{{modif.value2}}</td>
      <td mat-cell><button mat-button color="primary" (click)="removeModif(modif)">X</button></td>
    </tr>
  </table>
  <button mat-button color="primary" (click)="save()">Enregistrer les modifications</button>
</div>