#modifsList {
    top: 20%;
    right: 3%;
}

td {
    text-align: center
}

.twoTables{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tableOne div{
    margin-bottom: 50px;
}

table{
    padding: 2%;
}

.mat-button{
    background-color: #3f51b5;
    color: #fff;
    margin: 2px;
}

input{
    background-color: rgba(102, 153, 153, 0.2);
    margin-top: 0;
    margin-bottom: 10px; 
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 30%;
}

.sale{
    margin-top:22%;
}

.card{
    position: inherit;
    margin-top: -90px;
}