section{
    margin: 40px;
    display: flex;
}
article {
    flex-direction: row;
    margin: 40px;
    text-align: center;
}
.CAbyCat{
    margin: 10px;
    padding: 10px;
    font-size: medium;
}
form {
    margin: 40px;
    display: flex;
}
h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.center {
    position: relative;
    top: 20%;
  }
table tr td{
    text-align: center;
}