<form>
  <section class="mat-elevation-z8">
    <article>
      <div class="mat-elevation-z8 CAbyCat">
        <h2 id="title">Choisissez une catégorie :</h2>
        <br />
        <mat-form-field appearance="fill">
          <mat-select
            id="selectCategory"
            (selectionChange)="showCategoryView($event.value)"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
              >{{ category.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8 CAbyCat">
        <h2 id="title">Choisissez un produit :</h2>
        <br />
        <mat-form-field appearance="fill">
          <mat-select
            id="selectCategory"
            (selectionChange)="showProductView($event.value)"
          >
            <mat-option *ngFor="let product of products" [value]="product.id">{{
              product.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </article>
    <article class="mat-elevation-z8">
      <app-pie
        class="center"
        *ngIf="products.length > 0"
        [products]="products"
      ></app-pie>
    </article>
    <article class="mat-elevation-z8">
    <div class="CAbyCat">
      <table>
        <tr>
          <td>
            <h2>Total Achats</h2>
          </td>
          <td>
            <h2>Total Ventes</h2>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ allAchats }}&nbsp;€</span>
          </td>
          <td>
            <span>{{ allVentes }}&nbsp;€</span>
          </td>
        </tr>
        <tr>
          <td>
            <h2>Marge H.T</h2>
          </td>
          <td>
            <h2>Impôts</h2>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ allVentes - allAchats }}&nbsp;€</span>
          </td>
          <td>
            <span>{{ (allVentes - allAchats) * 0.3 }}&nbsp;€</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="CAbyCat">
      <h2>Marge TTC</h2>
      <span>{{ (allVentes - allAchats) * 0.7 }}&nbsp;€</span>
    </div>
      
    </article>
  </section>
</form>

<section class="mat-elevation-z8" *ngIf="showCategory">

  <article class="mat-elevation-z8">
  
    <div class="CAbyCat">
      <table>
        <tr>
          <td>
            <h2>Total Achats</h2>
          </td>
          <td>
            <h2>Total Ventes</h2>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ ttlAchats }}&nbsp;€</span>
          </td>
          <td>
            <span>{{ ttlVentes }}&nbsp;€</span>
          </td>
        </tr>
        <tr>
          <td>
            <h2>Marge H.T</h2>
          </td>
          <td>
            <h2>Impôts</h2>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ ttlVentes - ttlAchats }}&nbsp;€</span>
          </td>
          <td>
            <span>{{ (ttlVentes - ttlAchats) * 0.3 }}&nbsp;€</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="CAbyCat">
      <h2>Marge TTC</h2>
      <span>{{ (ttlVentes - ttlAchats) * 0.7 }}&nbsp;€</span>
    </div>
  </article>

  <article class="mat-elevation-z8">
    <app-bar [data]="data"></app-bar>
  </article>
</section>


<section class="mat-elevation-z8" *ngIf="showProduct">
  <article class="mat-elevation-z8">
    <div class="CAbyCat">
      <table>
        <tr>
          <td>
            <h2>Total Achats</h2>
          </td>
          <td>
            <h2>Total Ventes</h2>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ prodAchats }}&nbsp;€</span>
          </td>
          <td>
            <span>{{ prodVentes }}&nbsp;€</span>
          </td>
        </tr>
        <tr>
          <td>
            <h2>Marge H.T</h2>
          </td>
          <td>
            <h2>Impôts</h2>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{ prodVentes - prodAchats }}&nbsp;€</span>
          </td>
          <td>
            <span>{{ (prodVentes - prodAchats) * 0.3 }}&nbsp;€</span>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="CAbyCat">
      <h2>Marge TTC</h2>
      <span>{{ (prodVentes - prodAchats) * 0.7 }}&nbsp;€</span>
    </div>
  </article>

  <article class="mat-elevation-z8">
    <app-product-bar [prod]="prod"></app-product-bar>
  </article>
</section>
