<nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <img id="logo" src="../assets/images/Homard.png" />
      </div>
      <div class="col">
        <ul>
          <li>
            <a [routerLink]="'/productDetails'"> Details </a>
          </li>
          <li>
            <a [routerLink]="'/productCategory'"> Category </a>
          </li>
          <li>
            <a [routerLink]="'/dashboard'"> Dashboard </a>
          </li>
        </ul>
      </div>
      <div class="col" id="navTel">
        <p><img id="tel" src="../assets/images/tel.png" /> 06 63 99 99 78</p>
      </div>
    </div>
  </div>
</nav>
