.container{
    background: linear-gradient(to bottom right, #557b97, white);
    background-attachment: fixed;
    margin-bottom: 100px;
}

.row{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.col{
    width: 33%;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #fff;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

li a:hover{
    color: tan;
}

li a:active{
    color: tan;
}

#logo{
    width: 15%;
    height: auto;
    margin-top: 1%;
    margin-left: 10%;
}

#tel{
    width: 5%;
    height: auto;
    margin-bottom: -1%;
    margin-left: 15%;
}

#navTel{
    margin-top: 2%;
}