<section>
<article>
  <form>
    <span id="title">Choisissez un produits pour obtenir ses détails :</span>
    <br />

    <mat-form-field appearance="fill">
      <mat-select id="selectProduct" (selectionChange)="getProductDetails($event.value)">
        <mat-option *ngFor="let product of products" [value]="product.id">{{
          product.name
          }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</article>
<article>

<div id="modifsList" *ngIf="listModifs?.length>0">
  Modifications effectuées :
  <table mat-table class="mat-elevation-z8">
    <tr>
      <td mat-cell>Produit</td>
      <td mat-cell>Action</td>
      <td mat-cell>Valeurs</td>
    </tr>
    <tr *ngFor="let modif of listModifs">
      <td mat-cell>{{modif.name}}</td>
      <td mat-cell>{{modif.directive}}</td>
      <td mat-cell>{{modif.value1}}</td>
      <td mat-cell>{{modif.value2}}</td>
      <td mat-cell><button mat-button color="primary" (click)="removeModif(modif)">X</button></td>
    </tr>
  </table>
  <button mat-button color="primary" (click)="save()">Enregistrer les modifications</button>
</div>
</article>
</section>