.container {
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.side {
    width: 20%;
}

.pannel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    border: solid teal;
    border-radius: 5px;
}

h1 {
    margin-left: 2%;
    margin-top: 2%;
}

section {
    width: 100%;
    margin-left: 35%;
    margin-bottom: 5%;
}