<div class="container">
    <div [hidden]="!this.invalid" class="error">
    Invalid Username/ password
    </div>
    <div class="row">
        <div class="side">
        </div>
        <div class="pannel">
            <h1> CONNEXION </h1>
            <form [formGroup]='form' (ngSubmit)='login()'>
                <section>
                    <mat-form-field appearance="legacy">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="toto" formControlName='username' required>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    <mat-label>{{getLoginErrorMessage()}}</mat-label>
                </section>

                <section>
                    <div class="button-row">
                        <button type="submit" [disabled]='!this.form.valid' mat-button color="primary" mat-raised-button>SE CONNECTER</button>
                    </div>
                </section>
            </form>
        </div>
        <div class="side">
        </div>
    </div>
</div>