div {
    flex-direction: row;
    margin-left: 40px;
}

.mat-input {
    margin-left: 40px;
}

#title {
    font-weight: bold;
}

#right {
    text-align: center;
}

.mat-elevation-z8.ng-star-inserted {
    width: 50%;
    margin-left: 350px;
    position: absolute;
}

#bottom div {
    padding-top: 2%;
    padding-bottom: 1%;
}

.first {
    margin-bottom: 30px;
}

.example-button-row {
    display: column;
    justify-content: space-between;
    margin-left: 0px;
}

.Modif {
    margin-left: 700px;
    margin-top: -38px;
}

.table th {
    display: flex;
    flex-direction: row;
}

.table td {
    text-align: center;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
}

.prodInfo{
    /*
        Space between every fields
    */
    margin-top: 10px;
}

.card{
    position: inherit;
}