<form>
<section class="mat-elevation-z8 card">
  <article>
    <div id="bottom">
      <div class="prodInfo">
        <span id="title">Produit:</span><br />
        <span id="right"> {{ product.name }} </span>
      </div>
      <div class="prodInfo" *ngIf="!product.sale">
        <span id="title">Prix:</span><br />
        <span id="right"> {{ product.price }} € </span>
      </div>
      <div class="prodInfo" *ngIf="product.sale">
        <span id="title">Prix (en promo):</span><br />
        <span id="right">
          {{ product.price }} € (-{{ product.discount }})%
        </span>
      </div>
      <div class="prodInfo">
        <span id="title"> Propriétaire:</span><br />
        <span id="right"> {{ product.owner }} </span>
      </div>
      <div class="prodInfo">
        <span id="title"> Stock : </span><br />
        <span id="right"> {{ product.quantity }} {{ product.unit }} </span>
      </div>
      <div class="prodInfo">
        <span id="title"> Vendus: </span><br />
        <span id="right"> {{ product.quantity_sold }} </span>
      </div>
      <div class="prodInfo">
        <span id="title"> Commentaire : </span><br />
        <mat-form-field>
          <textarea [disabled]="true" matInput>{{ product.comments }}</textarea>
        </mat-form-field>
      </div>
    </div>
  </article>
  <article>
    <div id="bottom">
      <div id="promo">
        <span id="title">Prix achat/vente (unit.)</span>
        <mat-form-field class="example-form-field" [style.width.px]="50">
          <input matInput type="number" id="buyPrice" />
        </mat-form-field>
        <br />
        <span id="title">Quantité achetée/vendue</span>
        <mat-form-field class="example-form-field" [style.width.px]="50">
          <input matInput type="number" id="quantity" />
        </mat-form-field>

        <div class="example-button-row">
          <button mat-raised-button color="secondary" (click)="addEventToList(product.id,'incrementQty',product.name)">
            Ajouter au stock
          </button>
          <button mat-raised-button color="warn" (click)="addEventToList(product.id, 'decrementQty',product.name)">
            Vendre
          </button>
        </div>
      </div>

      <div id="promo">
        <span id="title">Promotion à appliquer : </span>
        <mat-form-field class="example-form-field" [style.width.px]="50">
          <input matInput type="number" id="changeSale" /> </mat-form-field
        >&nbsp;%
        <br />
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="addEventToList(product.id, 'setSale',product.name)">
            Sauvegarder
          </button>
          <button mat-raised-button color="secondary" (click)="addEventToList(product.id,'removeSale',product.name)">
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </article>


</section>
<br>
  <button mat-raised-button color="primary" [style.center] (click)="closeDialog()">Continuer</button>
</form>
